.app {
  padding: 20px;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.app__container {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.app__info {
  padding: 10px;
}

@media (max-width: 768px) {
  .app__container {
    flex-direction: column;
  }
}
